@use "@styles/variables" as *;

@font-face {
  font-family: Vinque;
  src: url("@src/shared/assets/fonts/vinque.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Vinque, sans-serif;
  margin: 0;
  color: $color-main-text;
  font-size: $size-content-m;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

input,
textarea,
select {
  background: $color-background-controls;
  border: 1px solid $color-border-simple;
  color: $color-main-text;
  font-size: $size-content-m;

  &:focus {
    outline: none;
  }
}

dialog {
  &:focus {
    outline: none;
  }
}

button {
  border: none;
}

p {
  font-size: $size-content-m;
}

h2 {
  font-size: $size-header-l;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

*,
*::before,
*::after {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0 / 30%);
    border-radius: 5px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0 0 0 / 50%);
  }

  scrollbar-color: rgb(0 0 0 / 30%) transparent;
  scrollbar-width: thin;
}
