// Colors
$color-main-text: #e0e5ff;
$color-main-selected: #d1d1d1;
$color-accent-warning: #d95353;
$color-border-simple: #e0e5ff42;
$color-border-warning: #2e1111;
$color-element-active: #ec1e05;
$color-background-controls: #081c22;
$color-background-modal: #1e1e24;

// Sizes
$size-header-l: 72px;
$size-content-s: 20px;
$size-content-m: 26px;
$size-content-l: 56px;
$size-button-xs: 16px;
$size-button-s: 32px;
$size-block-s: 60px;
$size-block-m: 90px;
$size-clickable-element-xs: 28px;

// Spacings
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 32px;
$spacing-xl: 64px;

// Radius
$border-radius: 3px;
