@use "@styles/variables" as *;

.wrapper {
  display: flex;
  align-items: center;
  gap: $spacing-m;
  min-height: $size-block-m;
  max-height: $size-block-m;
  height: $size-block-m;
  box-sizing: border-box;
  padding: $spacing-s $spacing-m;
  border: 1px solid $color-border-simple;
  border-radius: $border-radius;
  justify-content: space-between;

  .left,
  .right {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: $spacing-m;
    height: 100%;
  }

  .left {
    .logo {
      display: inline-block;
      border: 1px solid $color-accent-warning;
    }
  }

  .right {
    justify-content: flex-end;
  }

  .initiative {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $spacing-s;
    min-width: 155px;
    max-width: 155px;

    .label {
      font-size: $size-content-s;
    }
  }

  .conditions {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
  }

  &.isActive {
    box-shadow: 0 0 15px $color-element-active;
  }
}
