@use "@styles/variables" as *;

.wrapper {
  min-height: calc(100vh - 96px);
  max-height: calc(100vh - 96px);
  display: inline-flex;
  flex-direction: column;
  border-radius: $border-radius;
  background-color: rgb(10 15 15 / 75%);
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 50px rgb(0 0 0 / 90%);
  padding: $spacing-m;
  gap: $spacing-m;
  position: relative;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.combatantsList {
  display: flex;
  flex-direction: column;
  gap: $spacing-m;
  max-height: calc(100vh - 207px);
  overflow: hidden auto;
  margin-right: calc($spacing-m * -1);
  padding: $spacing-m $spacing-m $spacing-m $spacing-s;
}

.row {
  position: relative;

  &:hover {
    .deleteCombatantButton {
      opacity: 1;
    }
  }
}

.bottomButtons {
  display: flex;
  align-self: flex-end;
  position: relative;
  top: -8px;
  left: -7px;
  gap: $spacing-s;
  margin-top: auto;
}

.deleteCombatantButton {
  position: absolute;
  top: -15px;
  right: -15px;
  opacity: 0;
  transition: opacity 0.4s;
}

.pageWrapper {
  transition: filter 0.2s ease-out;
}

.blurred {
  filter: blur(4px);
}
