@use "@styles/variables" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
  min-width: 265px;
  max-width: 265px;

  .row {
    display: flex;
    justify-content: space-between;
    gap: $spacing-m;
    align-items: center;
  }

  .label {
    font-size: $size-content-s;
  }
}
